@{
    ViewBag.Title = "Cokolwiek chcesz";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div>
    <p><kbd class="text-primary">Use this area to provide additional information.</kbd></p>
    <p><kbd class="text-primary">Use this area to provide additional information.</kbd></p>
    <p><kbd class="text-primary">Use this area to provide additional information.</kbd></p>
    <p><kbd class="text-primary">Use this area to provide additional information.</kbd></p>
    <p><kbd class="text-primary">Use this area to provide additional information.</kbd></p>
    <p><kbd class="text-primary">Use this area to provide additional information.</kbd></p>
    <p><kbd class="text-primary">Use this area to provide additional information.</kbd></p>
    <p><kbd class="text-primary">Use this area to provide additional information.</kbd></p>
    <p><kbd class="text-primary">Use this area to provide additional information.</kbd></p>
    <p><kbd class="text-primary">Use this area to provide additional information.</kbd></p>
    <p><kbd class="text-primary">Use this area to provide additional information.</kbd></p>
    <p><kbd class="text-primary">Use this area to provide additional information.</kbd></p>
    <p><kbd class="text-primary">Use this area to provide additional information.</kbd></p>
    <p><kbd class="text-primary">Use this area to provide additional information.</kbd></p>
    <p><kbd class="text-primary">Use this area to provide additional information.</kbd></p>

</div>
