@{
    ViewBag.Title = "Kontakt";
}
<div class="yellow-text">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        ul. Drobnika 12212 <br />
        60-693 Poznań<br />
        <abbr title="Numer telefonu">Numer kontaktowy</abbr>
        123-456-789
    </address>

    <address>
        <strong>Szef:</strong>   <a href="mailto:Support@example.com">udaizd@wp.pl</a><br />
        <strong>Firma:</strong>   <a href="mailto:Support@example.com">caledoniayachts@caledoniayachts.pl</a><br />

        @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
    </address>
</div>