@{
    ViewBag.Title = "Logo Model";
}



<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Caledonia Yachts Logo 3D</title>
</head>

<body>
    <div>
        <script src="~/Scripts/three.js"></script>
        <script src="~/Scripts/GLTFLoader.js"></script>

        <script type="text/javascript">
            let scene, camera, renderer;
            function init()
            {
                scene = new THREE.Scene();
                scene.background = new THREE.Color(0xdddddd);

                camera = new THREE.PerspectiveCamera(40, window.innerWidth / window.innerHeight, 1, 5000);
                camera.rotation.y = 45 / 180 * Math.PI;

                hlight = new THREE.AmbientLight(0x404040, 100);
                scene.add(hlight);

                renderer = new THREE.WebGLRenderer({ antialias: true });
                renderer.setSize(window.innerWidth, window.innerHeight);
                document.body.appendChild(renderer.domElement);

                let loader = new THREE.GLTFLoader();
                loader.load('scene.gltf', function (gltf) {
                    scene.load(gltf.scene);
                    renderer.render(scene, camera);
                });
            }
            init();
        </script>
    </div>
</body>