@{
    ViewBag.Title = "Oferta";
}

<h2>Oferta</h2>

<p>
   Tu bedzie najlepsza oferta na swiecie
    <ul>
        <li>Super oferta1</li>
        <li>Super oferta2</li>
        <li>Super oferta3</li>
        <li>Super oferta4</li>
    </ul>
</p>