
@{
    ViewBag.Title = "Profil";
}

<h2>Profil</h2>

<div class="row">
    <div class="col-lg-10 col-md-8 ">

        <p>Twoja historia - dziedziństwo, troche o Urbanie, śliwkach, lasach.. </p>
        <p>.. trochę o lotnictwie </p>
        <p>trochę o osiągnieciach </p>
        <p>osiągnięcia :)  </p>
        <p>@Utils.LoremIpsum.generate();</p>
        @*<p>@Utils.LoremIpsum.generate();</p>*@

    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p><b> Massakra: </b></p>
        <img class="img-responsive" src="~/Photos/Profil/hqdefault.jpg" />
    </div>
    <div class="col-md-6">
        <p><b> Czadziak: </b></p>
        <img class="img-responsive" 4 src="~/Photos/Profil/czadziak.jpg" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <blockquote>
            <p>
                <b>
                    Nie istnieje coś takiego jak "nie da się".
                </b>
            </p>
            <footer>Tomasz Łyżwa</footer>
        </blockquote>
    </div>
</div>