
@{
    ViewBag.Title = "Profil";
}

<h2>Profil</h2>

<div class="row">
    <div class="col-md-6">

        <p>Twoja historia - dziedziństwo, troche o Urbanie, śliwkach, lasach.. </p>
        <p>.. trochę o lotnictwie </p>
        <p>trochę o osiągnieciach </p>
        <p>osiągnięcia :)  </p>
        <p>@Utils.LoremIpsum.generate();</p>
        <p>@Utils.LoremIpsum.generate();</p>

    </div>
    <div class="col-md-2">
        <p><b> Massakra: </b></p>
        <img src="~/Photos/Profil/hqdefault.jpg" />
        <p><b> Massakra: </b></p>
        <img src="~/Photos/Profil/czadziak.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <blockquote>
            <p><b>
                Nie istnieje coś takiego jak "nie da się".
            </b></p>
            <footer>Tomasz Łyżwa</footer>
        </blockquote>
    </div>
</div>