
@{
    ViewBag.Title = "Realizacje";
}
<hr />
<hr />

<h2>@ViewBag.Message</h2>
<hr />
<hr />



<div class="row">
    <div class="col-md-3">
        <h2>Realizacja 1</h2>
        <p">

            Super realizacja numer 1. Wchodzic i klikac! nabijac wyswietlenia. Nie pożałujecie! Na pewno wam sie bardzo spodoba. Ta realizacja jest najlepsza!!!!afdsfn
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque viverra orci, vitae viverra est fermentum mattis. Vestibulum neque augue, gravida 
        </p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Realizacja nr 2</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Nie wiem moze 3</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-danger btn-lg" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Test Realizacja</h2>
        <p>Opis Opis opis Opis oPIS oPiS Opis Opis opis Opis oPIS oPiSOpis Opis opis Opis oPIS oPiSOpis Opis opis Opis oPIS oPiSOpis Opis opis Opis oPIS oPiS</p>
        <p><a class="btn btn-warning" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Realizacja 100</h2>
        <p>
            Maksiumum treści, min tekstu. 
        </p>
        <p><a class="btn btn-info btn-xs" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Realizacja nr 2333</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Nie wiem moze 3333</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-danger btn-lg" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Test Realizacja67</h2>
        <p>Opis Opis opis Opis oPIS oPiS Opis Opis opis Opis oPIS oPiSOpis Opis opis Opis oPIS oPiSOpis Opis opis Opis oPIS oPiSOpis Opis opis Opis oPIS oPiS</p>
        <p><a class="btn btn-warning" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Realizacja 100</h2>
        <p>
            Super realizacja numer 1. Wchodzic i klikac! nabijac wyswietlenia.
        </p>
        <p><a class="btn btn-info btn-xs" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Realizacja nr 2333</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Nie wiem moze 3333</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-danger btn-lg" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Test Realizacja67</h2>
        <p>Opis Opis opis Opis oPIS oPiS Opis Opis opis Opis oPIS oPiSOpis Opis opis Opis oPIS oPiSOpis Opis opis Opis oPIS oPiSOpis Opis opis Opis oPIS oPiS</p>
        <p><a class="btn btn-warning" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>